#inputsearch[type="search"]:focus
{
    outline-offset: 2px solid black !important;
}
#contenue-actu
{
    scrollbar-width: none;
    text-align: center;
    width: 80%;
    margin-top: 90px;
    height: 91%;
    position: fixed;
    overflow-y: scroll;
    padding-bottom: 15%;
    padding-left: 2%;
    padding-right: 2%;
}
#contenue-actu h5
{
    margin-left: 20px;
}
#contenue-actu img 
{
    margin-right: 900px;
}


#contenue-actu-iphone-6
{
    scrollbar-width: none;
    text-align: center;
    width: 100%;
    margin-top: 90px;
    height: 91%;
    position: fixed;
    overflow-y: scroll;
    padding-bottom: 15%;
    padding-left: 2%;
    padding-right: 2%;
    left: 4%;
}

/* #col-right-iphone-6
{
    scrollbar-color: rgba(40, 40, 40, 0.64) rgba(40, 50, 40, 0.29) !important;
    scrollbar-width: none;
    width: 20%;
    right: 0px;
    margin-top: 120px;
    position: fixed;
    height: 80%;
    overflow-y: scroll;
    background-color: rgba(40, 40, 40, 0.64);
    border-radius: 10px 0px 0px 10px;
    display: none;
}

.title-actus-iphone-6
{
    width: 200px;
    margin-bottom: 5%;
    margin-left: 26%;
    margin-top: -15%;
}

nav{
    display: none;
} */

.note 
{
    cursor: pointer;
}