/* ---------------------------------
/* Barre de Navigations------------ */
header
{
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: 0px;
    /* background-color:#3B8796; */
    background-image: url('../img/nav_bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90px;
    font-size: large;
}
#title
{
    margin-left: 30px;
    position: absolute;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: 'Saira Stencil One', cursive;
    font-weight: 900;
}
a,ul,.nav
{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: whitesmoke;
}

.nav-menu
{
  margin-right: 60px;
  font-size: 1.5em;
}
.dropdown-menu  li 
{
    margin-top: -10px ;
    font-size: 0.8rem;
}
.inputSearch {
    width: 300px;
    margin: auto;
  }
  .inputSearch .fa {
    color: #0060a9;
  }
  .inputSearch .form-control {
    border-right: 0px;
    border-radius: 20px 0 0 20px;
  }
  .inputSearch .form-control:focus,
  .inputSearch .form-control:focus {
    outline: none !important;
    box-shadow: 0 0 0 red;
    border-color: #ced4da;
  }
  .inputSearch .input-group-text {
    background-color: white;
    border-left: 0px;
    border-radius: 0 20px 20px 0;
  }