body
{
    margin: 0;
    padding: 0;
    font-family: 'Niramit', sans-serif;
    /* background-image: url(https://http2.mlstatic.com/fundo-fotografico-tecido-sublimado-parede-pedra-26m-x-170m-D_NQ_NP_934851-MLB27526257509_062018-F.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  */
    /* overflow-x: hidden; */
    
}
/* ----------------------------- */
#contenue
{
    scrollbar-color: rgba(40, 40, 40, 0.64) rgba(40, 50, 40, 0.29) !important;
    scrollbar-width: thin;
    /* text-align: center; */
    left: 19.3%;
    width: 65%;
    margin-top: 90px;
    height: 82%;
    position: fixed;
    overflow-y: scroll;
    /* padding-bottom: 20%; */
    padding-left: 2%;
    padding-right: 2%;
}
/* colonne de droite------------- */
#col-right
{
    scrollbar-color: rgba(40, 40, 40, 0.64) rgba(40, 50, 40, 0.29) !important;
    scrollbar-width: none;
    width: 20%;
    right: 0px;
    margin-top: 100px;
    position: fixed;
    height: 80%;
    overflow-y: scroll;
    background-color: rgba(40, 40, 40, 0.64);
    border-radius : 10px 0px 0px 10px;
}

.title-slide
{

    text-align: center;
    position: fixed;
    background-color: grey;
    box-shadow: 0px 13px 10px rgba(40, 40, 40, 0.64);
    width: 20%;
    right: 0px;
    margin-top: 0;
    position: fixed;
    height: 40px;
    overflow-y: hidden;
    border-radius : 10px 0px 0px 0px;

}

.center
{
    width: 100%;
    height: 50px;
    background-color: wheat;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px !important;
    margin-bottom: -40px;
}
.users-conect
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.color-connect
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-top: 19px;
    margin-left: 62px;
}
.color-disconnect
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-top: 19px;
    margin-left: 62px;
}
.do_not_disturb
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: orange;
    /* background-color: black; */
    font-size: 10px;
    margin-top: 18px;
    margin-left: 62px;
}
#users-name-connect
{
    margin-top: 12px;
    margin-left: 10px;
    font-size: 1em;
}
/* colone de Gauche --------------- */
#col-left
{
    scrollbar-color: rgba(40, 40, 40, 0.64) rgba(40, 50, 40, 0.29) !important;
    scrollbar-width: thin;
    margin-top: 90px;
    overflow-y: scroll;
    height: 100%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    margin-right: 50px;
    left: 0;
    position: fixed;
    padding-bottom: 5%;
}
.actu
{
    margin-top: 0;
    margin-left: 20%;
    margin-right: 35%;
    margin-bottom: 25px;  
}

.user_img
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10%;
}
.user-name
{
    margin-top: -10px;
    width: 347px;
    margin-left: -50px;
    box-shadow: 0px 5px 5px black;
    color: black;
    background: url(../img/120X80_72dpi.png);
    background-size: contain;
    transform: rotate(-12deg);
    padding: 5px;
    font-family: 'Fredericka the Great', cursive;
}
.user-age
{
    width: 100%;
    text-align: center;
    box-shadow: 0px 5px 5px black;
    color: black;
    background: url(../img/120X80_72dpi.png);
    background-size: contain;
    padding: 5px;
    font-family: 'Fredericka the Great', cursive;
}
.user-name:hover
{
    text-decoration: none;
    color: grey;
}
.user-infos
{
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 35px;
    width: 90%;
    line-height: 1em;
    height: auto;
    text-align: start;
    font-size: 1em;
    color: white;
    box-shadow: 0px 5px 5px black;
    /* background-color: yellowgreen; */
    /* background: url(../img/65255.jpg); */
    background-color: rgba(40, 40, 40, 0.64);
    padding-left: 1em;
    background-size: cover;
    font-family: 'Fredericka the Great', cursive;
    padding-bottom: 2%;
}
.title-infos
{
    border-radius: 10px 10px 0px 0px;
    font-size: 1em;
    background-color:transparent;
    padding: 3px;
}

.friends
{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    line-height: 1em;
    height: 180px;
    text-align: start;
    font-size: 1em;
    color: white;
    box-shadow: 0px 5px 5px black;
    background-color: rgba(40, 40, 40, 0.64);
    font-family: 'Fredericka the Great', cursive;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
}

/* ------------------------------------ */
/* fils dacrualiter */
.actu-users
{
    width: 100%;
    height: 500px;
    border-radius: 12px;
    background-color: rgba(224, 224, 224, 0.925);
    box-shadow: 0px 5px 5px black;
}
.actu-users-comment
{
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 12px 12px;
    background-color: rgba(224, 224, 224, 0.925);
    box-shadow: 0px 5px 5px black;
}
.image-user-actus
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 528px;
}
.title-users-actu
{
    width: 200px;
    margin-bottom: 0;
}

.note
{
    margin-bottom: 23px;
    margin-top: -20px;
}

.element-requied
{
    width: 90%;
    HEIGHT: 80px;
    background-color: #2727273d;
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 10px;
}

.article
{
    WIDTH: 90%;
    text-align: start;
    height: 152px;
    background-color: #0704043d;
    margin: auto;
}

.user-profil
{
    margin-top: 90px;
}

.social 
{
    border-left: 2px solid #0000003d;
    padding: 10px;
}


/* ------------------------------------ */
/* Foooter---------------------------- */
footer{

position: fixed;
bottom: 0px;
justify-content: center;
background-color: rgb(40, 40, 40);
width: 100%;
z-index: 3;
margin-top: 1em;
border-top-color: brown;
left: 15px;
height: 50px;

}
footer a
{
    margin-bottom: 25px;
}

a:hover
{
    color: rgb(48, 46, 46);
    text-decoration: none;
}
.check
{
    content:"\f336";
}