/* font de coulaure de la div qui contien le formulaire  */
#setings
{
    margin-top: 120px;
    /* margin-left: 90px; */
    width: 80%;
    /* padding-right: 3%;
    padding-bottom: 2%; */
    background: rgba(40, 40, 40,0.6);
    border-radius: 25px;
}
/* Titre de la page paramettre  */
#setings h1
{
    padding-right: 5%;
    padding: 20px;
    font-family: 'Fredericka the Great', cursive;
}

/* marge a gauche du formulaire de 35px */
#setings form
{
    margin-left: 35px;
}

/* titre des section de parametrage  */
#setings h3
{
    margin-left: 7px;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
}

/* image users-setings */
/* image d'entete du formulaire de parametre */
.users-setings-img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -80px;
    margin-left: 90%;
}
/* div qui contient le formulaire de parametre  */
#containt
{
    text-align: center;
    left: 3%;
    width: 100%;
    margin-top: 0px;
    height: 91%;
    position: fixed;
    overflow-y: scroll;
}
#result ul li
{
    width: 100% !important;
}
#result ul{
    margin-top:20px;
}
.label_picture{
    font-size: 0.8em;
}