body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Niramit', sans-serif;
}
body
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#beta
{
    position: fixed;
    text-transform: uppercase;
    opacity: 10%;
    left: 90%;
    top: 2%;
    font-weight: 700;
    font-size: 3em;
    color: #4c4c4c ;
}

form
{
    width: 70%;
}
button
{
    width: 50%;
    align-content: center;
    justify-content: center;
}
.justify-content-center
{
    align-items: center;
    height: 100%;
}
header
{
    grid-column: 1/13;
}
.bg
{
    grid-column-start: 5;
    grid-column-end: 9;
    /* background-color: black; */
    grid-row: 4/9;
    border-radius: 30px;  
}
.radio_center
{
    display: flex;
    justify-content: space-around;

}
#reg
{
    margin-left: 0% !important;
    margin-top: 2.5% !important;
}
/* .g-recaptcha
{
    margin-left: 28% !important;
}
.error
{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(128, 87, 87, 0.4);
    border-radius: 5px;
    width: 300px;
    margin-bottom: -20px;
    margin-left: 28% !important;
} */

/* .bg 
{
    background:
      linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.3), rgba(0,0,255,0) 70.71%);
} */
/* body
{
	border:0px solid #000000;
	background: -moz-linear-gradient(bottom left, Green, rgba(0,255,0,0));
	background: -webkit-linear-gradient(bottom left, Green, rgba(0,255,0,0));
	background: -ms-linear-gradient(bottom left, Green, rgba(0,255,255,0));
	background: -o-linear-gradient(bottom left, Green, rgba(0,255,255,0));
} */
.bg
{
    background-color:    #f2f4f4   !important;
}
body
{
    background-color: #a3e4d7 ;
}
