body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Niramit', sans-serif;
    background-color: #a3e4d7 ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
form
{
    width: 70%;
}
button
{
    width: 50%;
    align-content: center;
    justify-content: center;
}
.justify-content-center
{
    align-items: center;
    height: 100%;
}
header
{
    grid-column: 1/13;
}
.bg
{
    grid-column-start: 5;
    grid-column-end: 9;
    /* background-color: black; */
    grid-row: 4/9;
    border-radius: 30px;  
}
.radio_center
{
    display: flex;
    justify-content: space-around;

}
#reg
{
    margin-left: 0% !important;
    margin-top: 2.5% !important;
}
.bg
{
    background-color:    #f2f4f4   !important;
}