RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Accueil/$ controllers/actualité_ctrl.php [NC,L]
RewriteRule ^contact/$ controllers/contact_ctrl.php [NC,L]
RewriteRule ^modifier_mes_informations/$ controllers/infos_users_ctrl.php [NC,L]
RewriteRule ^connection/$ controllers/login_ctrl.php [NC,L]
RewriteRule ^mentions_légales/$ controllers/mention_ctrl.php [NC,L]
RewriteRule ^messagerie/$ controllers/message_ctrl.php [NC,L]
RewriteRule ^profile/$ controllers/profil_ctrl.php [NC,L]
RewriteRule ^recherche/$ controllers/resultesearch_ctrl.php [NC,L]
RewriteRule ^inscription/$ controllers/register_ctrl.php [NC,L]
RewriteRule ^Compte_cree_avec_success/$ controllers/succes_ctrl.php [NC,L]
RewriteRule ^CGU/$ asset/docs/CGU.pdf [NC,L]